* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.main-card{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.card {
     display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(216, 50%, 16%);
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  width: 335px;
}

.card img {
  height: 300px;
  border-radius: 1rem;
}

.card h3 {
  color: hsl(0, 0%, 100%);

}

.card p {
  color: hsl(215, 51%, 70%);

  font-size: 19px;
  font-weight: 300;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.eth {
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(178, 100%, 50%);
}

.eth img {
  height: 30px;
}

.time {
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(215, 51%, 70%);
}

.time img {
  height: 30px;
}

hr {
  border-color: hsl(215, 32%, 27%);
}

.profile {
  display: flex;
  align-items: center;
    
  text-align: center;
  gap: 0.5rem;
 
}

.profile img {
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
}

.profile p {
    font-size: 15px;
  color: hsl(0, 0%, 100%);
}
.profile p  span{

  color: hsl(215, 51%, 70%);
}


.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 50px;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
